{% load staticfiles %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}warm-yum blog{% endblock %}</title>
    <meta name="description" content="{% block meta_desc %}个人网站，采用的Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。技术专注于Python与前端开发，包括Python、Django、HTML、CSS、JavaScript、Redis、Linux等。{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}编程,Python,Django,HTML,CSS,JavaScript,Redis,Linux,PHP,个人网站{% endblock %}">
    {% block extra_metas %}
    {% endblock %}
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    
    {% block extra_link %}{% endblock %}
    {% block extra_js %}  {% endblock %}
</head>

<body id="home">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            
                <!-- Branding Image -->
                <a class="navbar-brand" href={% url "index_page" %}>
                    <img src="{% static 'image/logo.png' %}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="http://botgig.com/">Home</a></li>
                    <li><a target="_blank" href={% url "article_list" 1 %}>Articles</a></li>
                    <li><a href="https://botlist.typeform.com/to/JXvvip" target="_blank">About</a></li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="search" role="search" method="GET" action="https://botlist.co/search">
                            <div class="form-group inner-addon left-addon">
                                <input name="query" type="text" class="form-control" placeholder="Search">
                                <i class="glyphicon glyphicon-search form-control-feedback"></i>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="hero">
	<div class="container">
		<div class="row">
			<img src="{% static 'image/background.jpg' %}" class="platform-list" alt="platform logos">
		</div>
	</div>
    </div>

    <div class="container">
        <div class="row">    
            <div id="sidebar" class="col-xs-2 hidden-xs">
                <div class="block">
                    <h2>Platforms</h2>
                    <ul class="list-unstyled">
                        <li><a href="https://botlist.co/bots/filter?platform=7">Android</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=4">Email</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=13">Facebook Messenger</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=8">iPhone</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=10">Kik</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=5">Slack</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=2">SMS</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=6">Telegram</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=9">Web</a></li>
                        <li><a href="https://botlist.co/bots/filter?platform=14">Skype</a></li>
                    </ul>
                </div>

                <div class="block" class="list-unstyled">
                    <p><a href={% url "article_list" 1 %}>全部博文</a>（{{ article_amount }}）</p>
                    <ul id="blogClassfication">
                        {% for class_type in classfications %}
                            {% for count_key,count_value in class_count.items %}
                                {% if class_type.name == count_key %}
                                    <li><a href={% url "article_class_list" class_type.name  1 %}>{{ class_type.name }}</a>（{{ count_value }}）</li>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
            </div>

            {% block article_main %}

            {% endblock %}

        </div>
    </div>
    
    <footer>
        <div class="press">
            <div class="container no-border">
                <div class="row">
                    <hr>
                    <div class="col-sm-4 col-xs-12 text-left">
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-right">
                        <img src="./Botlist • An App Store For Bots;_files/digital-trends.svg">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <p></p>
                <div class="col-sm-6">
                    © BotList 2016, A Marketing Stack Ltd Company
                </div>
                <div class="col-sm-6 text-right">Built by: <a target="_blank" href="https://twitter.com/bentossell">@bentossell</a>, <a target="_blank" href="https://twitter.com/sethlouey">@sethlouey</a>, <a target="_blank" href="https://twitter.com/mubashariqbal">@mubashariqbal</a></div>
            </div>
        </div>
    </footer>
    
    
    <!-- JavaScripts -->
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>

    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>

    
</body>
</html>