{% load staticfiles %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}warm-yum blog{% endblock %}</title>
    <meta name="description" content="{% block meta_desc %}个人网站，采用的Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}编程,Python,Django,嵌入式,个人网站{% endblock %}">
    {% block extra_metas %}
    {% endblock %}
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet">
    <!--link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css' %}" rel="stylesheet"-->
    <link href="{% static 'blog_self.css' %}" rel="stylesheet">
    <script src={% static 'js_self.js' %}></script>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {% block extra_link %}{% endblock %}
    {% block extra_js %}  {% endblock %}
</head>

<body id="home">
    <nav class="navbar top-navbar">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button-->
            
                <!-- Branding Image -->
                <a class="navbar-brand" href={% url "index_page" %}>
                    <img src="{% static 'image/logo.png' %}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li><a href="{% url "index_page" %}">Home</a></li>
                    <li><a href={% url "article_list" 1 %}>Articles</a></li>
                    <li><a href="{% url "about_page" %}">About</a></li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="search" role="search" method="GET" action="http://192.168.0.101:8008/search/">
                            <div class="form-group inner-addon left-addon">
                                <input id="id_q" name="q" type="search" type="text" class="form-control" placeholder="Search">
                                <i class="glyphicon glyphicon-search form-control-feedback"></i>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div id="blog_name" class="page-header">
            <h1><a href={% url "index_page" %}>FishBlog</a></h1>
			<!--img src="{% static 'image/background.jpg' %}" class="platform-list" alt="platform logos"-->
	</div>

    <div class="container">
        <div class="row">
            <div id="article_main" class="col-lg-9 col-xs-12">

            <a id="rocket" href="{{ the_url }}" class="show"></a>
            {% block article_main %}

            {% endblock %}

            {% block search_main %}

            {% endblock %}

            </div>

            <div id="sidebar" class="col-lg-3 col-xs-12">
                <div class="newsItem">
                    <img class="image-head" alt="test" height="72" width="72" src="{% static "image/image_head.jpg" %}">
                    <p>Welcome</p>
                    <a target="_blank"  href="https://github.com/fishwang89" class="btn btn-info">Github</a>
                    <a target="_blank"  href="http://weibo.com/u/1692791931" class="btn btn-info">Weibo</a>
                    <hr>
                    <p>Contact : wangyu_ustb@163.com</p>
                    <!--这里放两个二维码图片，可以放自己公众号的二维码入口，图片放小的，鼠标放上去后变大-->

                </div>

                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-folder-o"></i>分类</div>

                    <p><a href={% url "article_list" 1 %}>全部博文</a>（{{ total_amount }}）</p>
                    <div class="sidebar">
                        <ul id="blogClassfication">
                            {% for category_type in categories %}
                                {% for count_key,count_value in category_count.items %}
                                    {% if category_type.name == count_key %}
                                        <li><a href={% url "article_category_list" category_type.name  1 %}>{{ category_type.name }}</a>（{{ count_value }}）</li>
                                    {% endif %}
                                {% endfor %}
                        {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-folder-o"></i>标签</div>

                    <div class="tagcloud">
                        {% for tag in tags %}
                            <a href="" style="font-size: 15px;">{{ tag.name }}</a>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="press">
            <div class="container no-border">
                <div class="row">
                    <hr>
                    <div class="col-sm-2 col-xs-12 text-center">
                        <li><a href="https://www.hao123.com">Hao123</a></li>
                    </div>
                    <div class="col-sm-2 col-xs-12 text-center">
                        <li><a href="https://botlist.co/bots/filter?category=23">学堂在线</a></li>
                    </div>
                    <div class="col-sm-2 col-xs-12 text-center">
                        <img src="{% static 'image/praise.png' %}"  height="32" width="32">
                    </div>
                    <div class="col-sm-2 col-xs-12 text-center">
                        <li><a href="https://www.hao123.com">Hao123</a></li>
                    </div>
                    <div class="col-sm-2 col-xs-12 text-center">
                        <li><a href="https://botlist.co/bots/filter?category=23">学堂在线</a></li>
                    </div>
                    <div class="col-sm-2 col-xs-12 text-center">
                        <img src="{% static 'image/praise.png' %}"  height="32" width="32">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <hr>
            <div class="row">
                <p></p>
                <div class="col-sm-12 text-center">
                    <a href="" >Copyright © 2016 @wangyu</a>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- JavaScripts -->
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>

    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>

</body>
</html>