{% load staticfiles %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}warm-yum blog{% endblock %}</title>
    <meta name="description" content="{% block meta_desc %}个人网站，采用的Python Django框架开发而成，从兴趣到实践，意在学习、分享与记录。技术专注于Python与前端开发，包括Python、Django、HTML、CSS、JavaScript、Redis、Linux等。{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}编程,Python,Django,HTML,CSS,JavaScript,Redis,Linux,PHP,个人网站{% endblock %}">
    {% block extra_metas %}
    {% endblock %}
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet">
    <!--link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css' %}" rel="stylesheet"-->
    <link href="{% static 'blog_self.css' %}" rel="stylesheet">
    <script src={% static 'js_self.js' %}></script>

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    {% block extra_link %}{% endblock %}
    {% block extra_js %}  {% endblock %}
</head>

<body id="home">
    <nav class="navbar top-navbar">
        <div class="container">
            <div class="navbar-header">
                <!-- Collapsed Hamburger -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            
                <!-- Branding Image -->
                <a class="navbar-brand" href={% url "index_page" %}>
                    <img src="{% static 'image/logo.png' %}">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="app-navbar-collapse">
                <!-- Left Side Of Navbar -->
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="{% url "index_page" %}">Home</a></li>
                    <li><a target="_blank" href={% url "article_list" 1 %}>Articles</a></li>
                    <li><a href="{% url "index_page" %}" target="_blank">About</a></li>
                </ul>

                <!-- Right Side Of Navbar -->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="search" role="search" method="GET" action="http://192.168.0.101:8008/search/">
                            <div class="form-group inner-addon left-addon">
                                <input id="id_q" name="q" type="search" type="text" class="form-control" placeholder="Search">
                                <i class="glyphicon glyphicon-search form-control-feedback"></i>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	<div id="blog_name" class="page-header">
            <h1><a href={% url "index_page" %}>Test</a></h1>
			<!--img src="{% static 'image/background.jpg' %}" class="platform-list" alt="platform logos"-->
	</div>

    <div class="container">
        <div class="row">
            <div id="article_main" class="col-lg-9 col-xs-12">
            {% block article_main %}

            {% endblock %}

            {% block search_main %}

            {% endblock %}

            </div>

            <div id="sidebar" class="col-lg-3 col-xs-12">
                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-folder-o"></i>分类</div>

                    <!--ul class="category-list"><li class="category-list-item">
                    <a class="category-list-link" href="http://www.pycoding.com/categories/java/">java</a></li>
                    <li class="category-list-item"><a class="category-list-link" href="http://www.pycoding.com/categories/linux/">linux</a></li>
                    <li class="category-list-item"><a class="category-list-link" href="http://www.pycoding.com/categories/python/">python</a></li>
                    <li class="category-list-item"><a class="category-list-link" href="http://www.pycoding.com/categories/%E6%8A%80%E6%9C%AF%E9%9A%8F%E7%AC%94/">技术随笔</a></li><li class="category-list-item"><a class="category-list-link" href="http://www.pycoding.com/categories/%E6%9C%9D%E8%8A%B1%E5%A4%95%E6%8B%BE/">朝花夕拾</a></li><li class="category-list-item">
                    <a class="category-list-link" href="http://www.pycoding.com/categories/%E7%AE%97%E6%B3%95%E4%B9%8B%E7%BE%8E/">算法之美</a></li></ul-->

                    <p><a href={% url "article_list" 1 %}>全部博文</a>（{{ article_amount }}）</p>
                    <ul id="blogClassfication">
                        {% for category_type in categories %}
                            {% for count_key,count_value in category_count.items %}
                                {% if category_type.name == count_key %}
                                    <li><a href={% url "article_category_list" category_type.name  1 %}>{{ category_type.name }}</a>（{{ count_value }}）</li>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                    </ul>
                </div>

                <div class="widget">
                    <div class="widget-title"><i class="fa myfa fa-folder-o"></i>标签</div>

                    <div class="tagcloud">
                        {% for tag in tags %}
                            <a href="" style="font-size: 15px;">{{ tag.name }}</a>
                        {% endfor %}
                    </div>

                </div>

            </div>
        </div>
    </div>

    <footer>
        <div class="press">
            <div class="container no-border">
                <div class="row">
                    <hr>
                    <div class="col-sm-4 col-xs-12 text-left">
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-center">
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                        <li><a href="https://botlist.co/bots/filter?category=23">Build A Bot</a></li>
                    </div>
                    <div class="col-sm-4 col-xs-12 text-right">
                        <img src="./Botlist • An App Store For Bots;_files/digital-trends.svg">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="row">
                <p></p>
                <div class="col-sm-6">
                    © BotList 2016, A Marketing Stack Ltd Company
                </div>
                <div class="col-sm-6 text-right">Built by: <a target="_blank" href="https://twitter.com/bentossell">@bentossell</a>, <a target="_blank" href="https://twitter.com/sethlouey">@sethlouey</a>, <a target="_blank" href="https://twitter.com/mubashariqbal">@mubashariqbal</a></div>
            </div>
        </div>
    </footer>
    
    
    <!-- JavaScripts -->
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>

    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.min.js' %}"></script>

    
</body>
</html>