{% extends "base/theme_base.html" %}
{% load staticfiles %}

{% block search_main %}
    {% if query %}
        <h3>搜索结果</h3>

        {% for result in page.object_list %}
            <p><a href={% url "article" result.object.id %}>{{ result.object.caption }}</a><br/></p>
        {% empty %}
            <p>没有找到</p>
            <!--这里可以用分词的方式个推荐  没有找到，可以试试xxx-->
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
        <h3>网页被抓走了 %>_<%</h3>
    {% endif %}
{% endblock %}
