{% extends "base/theme_base.html" %}
{% load staticfiles %}

{% block article_main %}
<div id="article_main" class="col-lg-10 col-xs-12">
    <div class="block">
        <header>
           <a href="">{{ blog.caption }}</a>
            <p>{{ blog.publish_time|date:"Y-m-d H:i"  }}    {{ blog.classification }} </p>
        </header>

        <div class="row bot-list">
            <div class="col-sm-12 col-xs-12">
                <div class="bot">
                    <div class="row">
                        <p>{{ blog.content }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
